.form {
  width: 70%;
  margin-top: 20px;
  margin-left: 20px;
}

.tombol {
  display: flex;
  justify-content: flex-end;
}

.container-profile {
  display: flex;
  align-items: center;
}

.img-profile {
  margin-right: 20px;
}

.right {
  display: flex;
  flex-direction: column;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  div.form {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
  }
  .container-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .detail-profile {
    display: flex;
  }
  .detail-profile > h3 {
    font-size: 1em;
    margin: 0 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  div.form {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
  }
  .container-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .detail-profile {
    display: flex;
  }
  .detail-profile > h3 {
    font-size: 1.2em;
    margin: 0 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  div.form {
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
  }
  .container-profile {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .detail-profile {
    display: flex;
    flex-direction: column;
  }
  .detail-profile > h3 {
    font-size: 1.4em;
    margin: 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  div.form {
    width: 80%;
    margin-top: 10px;
    margin-left: 10px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  div.form {
    width: 70%;
    margin-top: 20px;
    margin-left: 20px;
  }
}
