@font-face {
  font-family: "Poppins-SemiBold";
  /* src: url("../../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype"); */
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

.buton {
  background-image: linear-gradient(
    to right,
    #32be8f,
    #38d39f,
    #32be8f
  ) !important;
  background-size: 200%;
  border: none !important;
  -webkit-box-shadow: -1px -1px 4px 1px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: -1px -1px 4px 1px rgba(0, 0, 0, 0.1) !important;
  box-shadow: -1px -1px 4px 1px rgba(0, 0, 0, 0.1) !important;
  transition: 0.5s !important;
}

.buton:hover {
  -webkit-box-shadow: 0 4px 4px #777 !important;
  -moz-box-shadow: 0 4px 4px #777 !important;
  box-shadow: 0 4px 4px #777 !important;
  background-position: right;
}

.buton-dgr {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none !important;
  border: none !important;
  background-image: linear-gradient(
    to right,
    #858d89,
    #707472,
    #858d89
  ) !important;
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1);
}

.buton-dgr:hover {
  background-position: right;
}

.buton-sec {
  background-image: linear-gradient(
    to right,
    #858d89,
    #707472,
    #858d89
  ) !important;
  background-size: 200%;
  border: none !important;
  -webkit-box-shadow: -1px -1px 4px 1px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: -1px -1px 4px 1px rgba(0, 0, 0, 0.1) !important;
  box-shadow: -1px -1px 4px 1px rgba(0, 0, 0, 0.1) !important;
  transition: 0.5s !important;
}

.buton-sec:hover {
  -webkit-box-shadow: 0 4px 4px #777 !important;
  -moz-box-shadow: 0 4px 4px #777 !important;
  box-shadow: 0 4px 4px #777 !important;
  background-position: right;
}

.bg-gradient {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(-45deg, #ee7752, #943ce7, #23a6d5, #238ed5);
  background-size: 400% 400%;
  animation: gradient 30s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-button {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* h1.text {
  background-image: linear-gradient(-25deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: textgra 5s ease-in-out infinite;
} */

.wrapper {
  background-color: #f7f9fc;
  min-height: calc(100vh - 70px);
  margin-left: 0px;
  margin-top: 70px;
  padding: 20px;
  position: relative;
  transition: 1s;
}

.link {
  text-decoration: none !important;
  color: #fff !important;
  cursor: pointer;
}
.link:hover {
  text-decoration: none !important;
  color: #fff;
}

.btn-trash {
  color: #ff002b;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.btn-edit {
  color: #ffae00;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.btn-trash:hover {
  color: #5a000f;
}
.btn-edit:hover {
  color: #ff5100;
}

input[type="text"] {
  text-transform: uppercase;
}
input[type="password"] {
  text-transform: lowercase;
}
select {
  text-transform: uppercase;
}

td {
  text-transform: uppercase;
}

td.email {
  text-transform: none;
}

/* header pencarian data */

.head {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.cari {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* background-color: red; */
}

.bersih {
  position: absolute;
  right: 10px;
  color: rgb(155, 145, 145);
  font-size: 19px;
  top: 3px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.bersih:hover {
  color: salmon;
}

.cariinput {
  padding-right: 25px !important;
}

.page-link {
  cursor: pointer !important;
}

.text-danger {
  color: salmon !important;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.buton-a {
  background-image: linear-gradient(
    to right,
    #32be8f,
    #38d39f,
    #32be8f
  ) !important;
  background-size: 200%;
  border: none !important;
  -webkit-box-shadow: -1px -1px 4px 1px rgba(255, 255, 255, 0.1) !important;
  -moz-box-shadow: -1px -1px 4px 1px rgba(255, 255, 255, 0.1) !important;
  box-shadow: -1px -1px 4px 1px rgba(255, 255, 255, 0.1) !important;
  transition: 0.5s !important;
  font-size: 0.9rem !important;
  padding: 5px 5px !important;
  margin: 0 5px !important;
  border-radius: 0 !important;
}

.buton-a:hover {
  background-position: right;
}

td.action {
  width: 100px;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    padding: 15px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    padding: 10px;
  }
}
