.content {
  padding: 20px 25px;
  background-color: #f7f9fc;
  border-radius: 1px;
  box-shadow: -1px -1px 7px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.menu-login {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.admin,
.guru,
.siswa {
  box-shadow: -1px -1px 7px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(163, 10, 99);
  padding: 5px 20px;
  margin: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f7f9fc;
}

input[type="text"],
input[type="password"] {
  background-color: #fff;
}
.login-auth {
  cursor: pointer;
  background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #2376d5);
  background-size: 400% 400%;
  animation: gradient 5s ease-in-out infinite;
  border-radius: 2px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  min-width: 400px;
  margin: 4px;
}

.login-auth:hover {
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.5);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.auth {
  background-color: #0c3779;
  display: flex;
  align-items: center !important;
  justify-content: center;
  min-height: 100vh !important;
}
